  img {
    max-width: 100%;
    max-height: 300px;
    left: "0";
  }
  .banner-container {
    display: flex;
    justify-content: center;
  }
  .image-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: none;
  }
  
  .image-container {
    width: 18%;
    text-align: center;
  }
  
  .image-text {
    margin-top: 0.5rem;
    font-size: 1.2rem;
  }
  .mainimage{
    justify-self: center;
  }
  
section {
  margin-left: 5%;
  margin-right: 5%;
}
  h2 {margin-left: 5%;}